/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/


/* 
    Created on : 17 mai 2016, 14:25:14
    Author     : vdubois
*/

html,
body {
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.menu {
    color: #111;
    background-color: #fff;
    z-index: 1001;
    /* Stay on top */
}

.fit-right {
    right: 0;
}

.fit-top {
    top: 0;
}

.fit-left {
    left: 0;
}

.map-menu {
    position: absolute;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 5px;
    padding-right: 5px;
    width: 70px;
    text-align: center;
}

.map-menu .glyphicon {
    font-size: x-large;
}

.map-menu-item {
    border-top: thick;
    margin-top: 10px;
}

.side-nav-body .log {
    margin: 8px;
}

.side-nav-body .log a {
    display: block;
}


/* The side navigation menu */

.side-nav {
    height: 100%;
    width: 0px;
    position: absolute;
    overflow-x: hidden;
    /*padding-top    : 60px; */
    transition: 0.5s;
}

.side-nav-body {
    padding: 10px;
}


/* Style page content - use this if you want to push the page content to the right when you open the side navigation */

#mapArea {
    transition: left .5s, right .5s;
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 100%;
}

#map {
    height: 100%;
    width: 100%;
}

.leaflet-popup-content {
    margin: auto;
    /*overflow: auto !important;*/
    height: auto !important;
    max-height: 90vh !important;
    /*width: 90vw !important;*/
    max-width: 90vw !important;
}

.leaflet-popup-content-wrapper {
    background-color: #eee;
}

.popup-info a.btn {
    color: white;
}

.popup-info .row {
    margin-right: initial;
}

.popup-info .row>[class^='col-'] {
    padding-right: initial;
}

.popup-info .row>[class*=' col-'] {
    padding-right: initial;
}

.popup-info h3{
    margin-top: 0px;
}

.popup-info .table{
    margin-bottom: 0px;
}

.popup-info {
    word-wrap: break-word;
    margin: 10px;
    font-size: initial;
    overflow: auto !important;
    max-height: inherit;
}

.signalTitle {
    font-size: initial;
    font-weight: bold;
}

@media screen and (max-height: 450px) {
    .side-nav {
        padding-top: 15px;
    }
    .side-nav a {
        font-size: 18px;
    }
    .popup-info {
        font-size: inherit;
    }
}

.leaflet-heatmap-layer{
    opacity: 0.7;
}